@use './variables' as *;
@use './breakpoints' as *;

@mixin typography_heading {
  font:
    normal $font-weight-normal 40px/40px 'Nunito',
    sans-serif;
}

@mixin typography_text {
  font:
    normal $font-weight-normal 16px/26px 'Nunito',
    sans-serif;
}

@mixin label_text {
  font:
    normal $font-weight-normal 12px/14px 'Nunito',
    sans-serif;
}

@mixin container {
  width: 100%;
  padding-left: $spacing-s;
  padding-right: $spacing-s;

  @include for-tablet {
    padding-left: $spacing-m;
    padding-right: $spacing-m;
  }

  @include for-desktop {
    padding-left: $spacing-l;
    padding-right: $spacing-l;
  }

  @include for-large-desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin wrapper {
  width: 100%;
  margin: 0 auto;

  @include for-large-desktop {
    max-width: 1170px;
  }
}

@mixin section_spacing {
  padding-top: $spacing-xl;
  &:last-child {
    margin-bottom: 100px;
  }
}
