// colors

$landing-primary-color: #f4e041;
$landing-secondary-color: #00bdd3;
$landing-background-color: #f8f8f8;
$landing-black-color: #000000de;
$landing-white: #ffffff;

$typography-black: $landing-black-color;
$typography-light: #ffffffde;

$border-gray: #d0cfcf;
$border-black: $landing-black-color;
$label-gray: #7e7e7e;
$helper-text-normal: #7e7e7e;
$helper-text-error: #cb3d40;

$button-disabled: #b4b4b4;

// constants

$button-radius: 30px;
$field-radius: 4px;
$card-radius: 10px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$heading-font-size: 40px;
$heading-line-height: 40px;

$typography-font-size: 16px;
$typography-line-height: 26px;

$avatar-size: 70px;

$spacing-s: 16px;
$spacing-m: 32px;
$spacing-l: 60px;
