@use '../../shared/style/mixins' as *;
@use '../../shared/style/variables' as *;
@use '../../shared/style/breakpoints' as *;

.hero {
  position: relative;
  margin-top: 60px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $typography-light;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .backgroundImg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include for-desktop {
    min-height: 650px;
  }

  @include container;

  h1 {
    position: relative;
    @include typography_heading;
    max-width: 380px;
    margin-bottom: 21px;
  }

  p {
    position: relative;
    @include typography_text;
    max-width: 380px;
    margin-bottom: 32px;
  }

  .button {
    position: relative;
  }
}
