@use '../../style/variables' as *;
@use '../../style/mixins' as *;

.inputWrapper {
  display: inline-block;
  min-width: 328px;
  position: relative;

  .labelText {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate($spacing-s, -50%);
    opacity: 0;
    transition: all 0.3s;
    @include typography_text;
    color: $helper-text-normal;
    background-color: $landing-background-color;
    padding: 0 4px;

    &::first-letter {
      text-transform: capitalize;
    }

    &.upperText {
      @include label_text;
      top: 0;
      opacity: 1;
      transform: translate($spacing-s, -50%);
      z-index: 2;
    }
  }

  .input {
    position: relative;
    z-index: 2;
    width: 100%;
    @include typography_text;
    color: $landing-black-color;
    padding: $spacing-xs $spacing-s;
    border-radius: $field-radius;
    border: 1px solid $border-gray;
    background-color: transparent;
    appearance: none;
    box-shadow: none;

    &.error {
      border: 1px solid $helper-text-error;
    }

    &::placeholder {
      text-transform: capitalize;
    }

    &:focus {
      outline: none;
      z-index: 1;

      ~ .labelText {
        @include label_text;
        top: 0;
        opacity: 1;
        transform: translate($spacing-s, -50%);
      }
    }
  }

  .helperText {
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: translate($spacing-s, 100%);
    @include label_text;
    color: $helper-text-normal;
    padding: 0 4px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .errorText {
    color: $helper-text-error;
  }
}
